.container {
  margin-top: 30px;
}
.btn {
  margin-top: 20px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  background-color: #e57e22;
  color: white;
}
.btn:hover,
.btn:active
{
 background-color: #c7711f;
}
.comment {
  border: 2px solid black;
}
.row {
  display: grid;
  place-items: center;
  margin-top: 18%;
 
}
label {
  font-weight: bolder;
  font-size: 25px;
}
.time
{
 display: block;
}
